.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.home-tags-box {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding-inline: 2rem;
}

.home-collections-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.btn__contened {
  width: 320px;
  padding-block: 0.5rem;
  /* padding-inline: 2rem; */
  border: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  color: var(--indian-red--accent);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: var(--indian-red--shadow_30) 0px 1px 2px 0px,
    var(--indian-red--shadow_15) 0px 2px 6px 2px;
  cursor: pointer;
}

@media (min-width: 41em) {
  .home-container {
    margin-top: 28px;
  }

  .home-collections-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .btn__contened {
    width: fit-content;
    padding-inline: 2rem;
  }
}

@media (min-width: 58em) {
  .home-container {
    margin-inline: 2.5rem;
  }

  .home-collections-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
