.header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-inline: 1rem;
  padding-bottom: 2rem;
  z-index: 10;
}

.bar {
  position: relative;
  top: 50px;
  width: fit-content;
}
