.card {
  margin-bottom: 2rem;
}

.card-img {
  width: 100%;
  padding-inline: 1rem;
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 1rem;
}

.card-stats {
  display: flex;
  align-items: center;
  width: 100%;
  padding-block: 1rem;
  font-size: 1.125rem;
  color: var(--charcoal);
  font-weight: 500;
}

.card-stats > i {
  padding-right: 0.5rem;
  color: var(--indian-red--accent);
}

.card-tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.card-subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--charcoal);
}

.card-text {
  padding-top: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--rich-Black--primary);
  text-align: left;
}

.btn-text {
  padding-top: 0.625rem;
  color: var(--indian-red--accent);
  font-family: var(--Inter);
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}
