/* -------------------------- 
  $VARIEBALES 
--------------------------  */

:root {
  --rich-Black--primary: #001219;
  --lavender--secondary: #ece7ff;
  --charcoal: #425057;
  --indian-red--accent: #db5461;

  --Inter: "Inter", sans-serif;

  --border-radius: 8px;
}

/* -------------------------- 
  $RESET
--------------------------  */

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: var(--Inter);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black-primary);
}

.mb {
  margin-bottom: 2rem;
}

/* min-height: calc(100vh - 61px); */

.btn {
  padding-block: 1rem;
  padding-inline: 1.5rem;
  font-family: var(--Inter);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: none;
  border: none;
}

.btn-Outlined-primary {
  border: 1px solid var(--rich-Black--primary);
  border-radius: var(--border-radius);
}

@media (min-width: 58em) {
  .my-masonry-grid {
    display: flex;
    width: auto;
  }
}
