/* -------------------------- 
  $VARIEBALES 
--------------------------  */

:root {
  --rich-Black--primary: #001219;
  --rich-Black--backGroundAlert: #00121925;
  --lavender--secondary: #ece7ff;
  --charcoal: #425057;
  --indian-red--accent: #db5461;
  --indian-red--shadow_15: #db546115;
  --indian-red--shadow_30: #db546130;

  --Inter: "Inter", sans-serif;

  --border-radius: 8px;
  --border-radius-scroll: 4px;
}

/* -------------------------- 
  $RESET
--------------------------  */

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  text-align: center;
  font-family: var(--Inter);
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: var(--rich-Black--primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--charcoal);
  border-radius: var(--border-radius-scroll);
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--lavender--secondary);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--indian-red--accent);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--black-primary);
}

.mbl-2 {
  margin-block: 2rem;
}

.pt-05 {
  padding-top: 0.5rem;
}

.pr-05 {
  padding-right: 0.5rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

@media (min-width: 58em) {
  .my-masonry-grid {
    display: flex;
    width: auto;
  }
}
